<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <!-- 순서가 있다 환경설정보다 settings가 먼저 작업되어야한다. -->
  
  <!-- db.properties 경로 설정하기 -->
  <properties resource="mybatis/config/db.properties" />
  
  <!-- settings -->
  <settings>
  <setting name="mapUnderscoreToCamelCase" value="true" /> <!-- value에서 기본값은 false -->
</settings>

  <!-- typeAliases,어떤 클래스를 줄여서 별명을 붙여서 간편하게(타이핑을 줄이기 위해서) 이용할 수 있다  -->
<typeAliases>
  <typeAlias alias="Member" type="domain.Member" />
</typeAliases>
  
  <!-- 환경 설정 -->
  <environments default="development">
    <environment id="development"> 
   		<transactionManager type="JDBC"/>
    	<dataSource type="POOLED">
  	  		<property name="driver" value="${driver}"/>
    		<property name="url" value="${url}"/>
    		<property name="username" value="${username}"/>
    		<property name="password" value="${password}"/>
    	</dataSource>
  	</environment>
  </environments>
  

  <!-- mapper 경로 설정하기, 여러개 설정도 가능 -->
  <mappers>
     <mapper resource="mybatis/mapper/member.xml" />
  </mappers>
  
</configuration>
